@import "style_reset";

@import "fonts";

@import "slider";

.container {
  max-width: 955px;
  margin: 0 auto;
  height: 100%;
}

.d-flex {
  display: flex;
}

.footer {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: url(../img/bgmain.png) no-repeat center;
  background-size: cover;
  padding: 20px 0 40px 0;

  &__wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-phone {
    flex-direction: column;
    align-items: flex-end;
    p {
      color: #ffffff;
      font-family: "Muller Regular";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
    }
    a {
      color: #ffffff;
      font-family: "Muller Bold";
      font-size: 20px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__center {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__center-title {
    h1 {
      color: #ffffff;
      font-family: "Muller Medium";
      font-size: 60px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 40px;
      margin-top: 230px;
    }
    h2 {
      color: #ffffff;
      font-family: "Muller Regular";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      color: #ffffff;
      font-family: "Muller Regular";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }

  &__center-btn {
    width: 300px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    color: #ffffff;
    font-family: "Muller Bold";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 100px 0 140px 0;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
      color: black;
      background: white;
      border-radius: 5px;
      transition: 0.5s;
    }
  }

  &__center-social {
    a {
      width: 26px;
      height: 26px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :not(:last-child) {
      margin-right: 10px;
    }
  }
}

.tour {
  background: #f8f2e4;
  padding: 50px 0;
  &__block {
    justify-content: space-evenly;
  }

  &__block-right {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__right-title {
    color: #000000;
    font-family: "Muller Medium";
    font-size: 30px;
    font-weight: 400;
    max-width: 270px;
    span {
      font-size: 48px;
      text-transform: uppercase;
    }
  }

  &__right-subtitle {
    color: #000000;
    font-family: "Muller Light";
    font-size: 16px;
    font-weight: 400;
    max-width: 392px;
  }

  &__right-row {
    :nth-child(1) {
      background: url(../img/t1.png) no-repeat left top;
    }
    :nth-child(2) {
      background: url(../img/t2.png) no-repeat left top;
    }
    :nth-child(3) {
      background: url(../img/t3.png) no-repeat left top;
    }
  }

  &__row-item {
    color: #000000;
    font-family: "Muller Light";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 50px;
    padding-bottom: 20px;
  }
}

.travel {
  padding: 80px 0;

  &__title {
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400;
    position: relative;
    text-align: center;
    &:after {
      content: "";
      background: url(../img/orngline.png) no-repeat;
      width: 120px;
      height: 6px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -20px;
      margin-left: -60px;
    }
  }

  &__rows {
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    :nth-child(4) {
      width: 50%;
      padding-left: 100px;
    }
    :nth-child(5) {
      width: 50%;
      padding-right: 100px;
    }
  }

  &__rows-item {
    flex-direction: column;
    align-items: center;
    width: 33%;
  }

  &__item-text {
    font-family: "Muller Regular";
    font-size: 16px;
    font-weight: 400;
    max-width: 240px;
    text-align: center;
    padding-top: 20px;
  }
}

.timetable {
  padding: 0 0 80px 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 100px;
  }

  &__grid-items {
    width: 220px;
    height: 180px;
    background-color: #fff8e6;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    p {
      color: #4b4b4b;
      font-family: "Muller Light";
      font-size: 14px;
      font-weight: 400;
    }
    h4 {
      font-family: "Muller Medium";
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__link {
    color: #5a56af;
    font-family: "Muller Regular";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    display: block;
  }

  &__btn {
    display: block;
    width: 180px;
    height: 40px;
    border: 2px solid #e28234;
    color: #e28234;
    font-family: "Muller Bold";
    font-weight: 400;
    text-align: center;
    padding: 12px 0 0 0;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s;
    &:hover {
      color: white;
      background-color: #e28234;
      transition: all 0.5s;
    }
  }
}

.ayurveda {
  padding-bottom: 100px;
  &__block {
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    font-family: "Muller Light";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 110px 0 60px 0;
  }

  &__text {
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
  }

  &__table-item {
    :not(:last-child) {
      padding-bottom: 30px;
    }
    align-items: center;
    p {
      font-family: "Muller Light";
      font-size: 18px;
      font-weight: 400;
      max-width: 470px;
      margin-left: 40px;
    }
  }
}

.health {
  padding: 80px 0;
  position: relative;
  &:after {
    content: "";
    background: #f8f2e4;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &__block {
    position: relative;
    z-index: 3;
  }

  &__text {
    margin-bottom: 80px;
  }

  &__slider-item {
    img {
      margin: 0 auto;
    }
  }
}

.about {
  padding-bottom: 80px;
  position: relative;
  &:after {
    content: "";
    width: 725px;
    height: 270px;
    background: #f8f2e4;
    position: absolute;
    z-index: 1;
    top: -5%;
    right: 42%;
  }
  &__block {
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
  }

  &__block-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__right-title {
    h2 {
      font-family: "Muller Medium";
      font-size: 30px;
      font-weight: 400;
    }
    p {
      color: #4b4b4b;
      font-family: "Muller Light";
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 35px;
    }
  }

  &__right-subtitle {
    font-family: "Muller Light";
    font-size: 12px;
    font-weight: 600;
    max-width: 465px;
    margin-bottom: 55px;
  }

  &__tables-table {
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.tables-item {
  font-family: "Muller Light";
  font-size: 12px;
  font-weight: 600;
  max-width: 200px;
  line-height: 1.1em;
  background: url(../img/minilogomain.png) no-repeat left top;
  padding-left: 30px;
}

.instructors {
  &__info {
    margin: 80px 0 100px 0;
  }

  &__slider-top {
    margin-bottom: 20px;
  }

  &__bottom-slider {
    margin-bottom: 140px;
  }

  &__slider-block {
  }

  &__slider-name {
    font-family: "Muller Regular";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 3px;
    span {
      font-family: "Muller Bold";
      font-weight: 700;
    }
  }

  &__slider-link {
    color: #c94410;
    font-family: "Muller Light";
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
  }

  &__slider-subtitle {
    width: 575px;
    color: #393939;
    font-family: "Muller Regular Italic";
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
  }
}

.tourists {
  padding: 80px 0 110px 0;
  background: #f8f2e4;

  &__title {
    margin-bottom: 100px;
  }

  &__rows {
    flex-wrap: wrap;
  }

  &__rows-item {
    width: 33%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &:nth-child(1) {
      padding-bottom: 40px;
    }
    &:nth-child(2) {
      margin-bottom: 40px;
    }
    &:nth-child(3) {
      margin-bottom: 40px;
    }

    h4 {
      font-family: "Muller Bold";
      font-size: 18px;
      font-weight: 400;
    }
    p {
      font-family: "Muller Light";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      width: 200px;
    }
  }
}

.work {
  padding: 80px 0;

  &__main-title {
    margin-bottom: 65px;
  }

  &__subtitle {
    color: #3f3f3f;
    font-family: "Muller Regular Italic";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
  }

  &__block-rows {
    justify-content: space-between;
    position: relative;
  }

  &__rows-items {
    width: 15%;
    flex-direction: column;
    align-items: center;
    &:not(:first-child) {
      &:after {
        content: "";
        background: url(../img/arroww.png) no-repeat center;
        width: 25px;
        height: 17px;
        position: absolute;
        top: 25%;
        margin-left: -85px;
      }
    }

    a {
      color: #ea7231;
      font-family: "Muller Regular";
      font-size: 12px;
      font-weight: 600;
      text-decoration: underline;
      margin-top: 4px;
    }
  }

  &__rows-text {
    color: #3f3f3f;
    font-family: "Muller Regular";
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
}

.cost {
  padding: 80px 0;
  background: #f8f2e4;
  &__block {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 90px;
  }

  &__contain {
    width: 820px;
    height: 100%;
    background: #ffffff;
  }

  &__center-text {
    font-family: "Muller Light";
    font-weight: 600;
    line-height: 48px;
    width: 540px;
    font-size: 20px;
  }
  &__wrapper {
    justify-content: space-between;
    padding: 40px 50px 18px 50px;
  }
  &__span-left {
    font-family: "Muller Bold";
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
  }

  &__contain-bottom {
    justify-content: space-evenly;
    padding: 18px 0;
    align-items: center;
    background: #f4e1b6;
  }

  &__bottom-text {
    font-family: "Muller Medium";
    font-size: 20px;
    font-weight: 400;
  }

  &__btn {
    width: 140px;
    height: 40px;
  }

  &__info-title {
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    margin: 20px 0 15px 0;
  }

  &__info-item {
    color: #4e4e4e;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    &:before {
      content: "";
      background: url(../img/orngarrow.png) no-repeat left;
      padding-right: 35px;
    }
  }

  &__not-table {
    padding-left: 25px;
    margin-bottom: 45px;
  }

  &__not-item {
    color: #4e4e4e;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    &:before {
      content: "";
      padding-left: 35px;
      background: url(../img/nott.png) no-repeat left;
    }
  }

  &__not-text {
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 735px;
  }
}

.cost {
  &__contain-middle {
    p {
      color: #dd490f;
      font-family: "Muller Light";
      font-size: 20px;
      font-weight: 400;
      line-height: 48px;
      span {
        font-family: "Muller Bold";
        font-weight: 700;
      }
    }
  }
}

.doc {
  padding: 80px 0;
  &__title {
    margin-bottom: 100px;
  }

  &__info-text {
    font-family: "Muller Light Italic";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__rows {
    justify-content: space-between;
  }

  &__rows-item {
    flex-direction: column;
    align-items: center;
    p {
      font-family: "Muller Regular";
      font-size: 14px;
      font-weight: 400;
      line-height: 2.5em;
    }
  }
}

.map {
  padding: 50px 0;
  background: #fcf9f1;
  &__title {
    font-family: "Muller Medium";
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__contacts {
    max-width: 550px;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__social-title {
    font-family: "Muller Medium";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__social-icon {
    width: 160px;
    justify-content: space-between;
    align-items: center;
    a {
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #e28234;
    }
  }

  &__tel-number {
    p {
      font-family: "Muller Light Italic";
      font-size: 12px;
      font-weight: 600;
    }
    a {
      font-family: "Muller Bold";
      font-size: 28px;
      font-weight: 400;
      color: black;
    }
  }

  &__maps {
    max-width: 620px;
    justify-content: space-between;
  }

  &__left {
    p {
      font-family: "Muller Regular";
      font-size: 11px;
      font-weight: 600;
      margin-top: 15px;
    }
  }

  &__box {
    border: 2px solid black;
    width: 204px;
  }
}

.header {
  padding: 15px 0;
  background: #383838;
  &__block {
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    align-items: center;
  }

  &__left-text {
    margin-left: 40px;
    color: white;
    a {
      font-family: "Muller Bold";
      font-size: 18px;
      font-weight: 700;
      text-decoration: underline;
      color: white;
    }
    p {
      font-family: "Muller Regular";
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__right {
    flex-direction: column;
    max-width: 395px;
  }

  &__right-title {
    color: #ffffff;
    font-family: "Muller Regular";
    font-size: 12px;
    font-weight: 400;
  }
  &__m-bottom {
    margin-bottom: 5px;
  }
}
